<section id="footer" class="ftr-heading-o ftr-heading-mgn-1">

    <div id="footer-top" class="banner-padding ftr-top-grey ftr-text-white">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-3 col-xl-3 footer-widget ftr-contact">
                    <h3 class="footer-heading">CONTACT US</h3>
                    <ul class="list-unstyled">
                        <li><span><i class="fa fa-map-marker"></i></span>No. 19, Nguyen Huu Tho Street, Tan Phong Ward, District 7, Ho Chi Minh City</li>
                        <li><span><i class="fa fa-phone"></i></span>0983737383</li>
                        <li><span><i class="fa fa-envelope"></i></span>duongthanhquy2002@gmail.com</li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-12 col-md-6 col-lg-2 col-xl-2 footer-widget ftr-links">
                    <h3 class="footer-heading">COMPANY</h3>
                    <ul class="list-unstyled">
                        <li><a href="~/customerassets/#">Home</a></li>
                        <li><a href="~/customerassets/#">Flight</a></li>
                        <li><a href="~/customerassets/#">Hotel</a></li>
                        <li><a href="~/customerassets/#">Tours</a></li>
                        <li><a href="~/customerassets/#">Cars</a></li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-12 col-md-6 col-lg-3 col-xl-3 footer-widget ftr-links ftr-pad-left">
                    <h3 class="footer-heading">RESOURCES</h3>
                    <ul class="list-unstyled">
                        <li><a href="~/customerassets/#">Blogs</a></li>
                        <li><a href="~/customerassets/#">Contact Us</a></li>
                        <li><a href="~/customerassets/#">Login</a></li>
                        <li><a href="~/customerassets/#">Register</a></li>
                        <li><a href="~/customerassets/#">Site Map</a></li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-12 col-md-6 col-lg-4 col-xl-4 footer-widget ftr-about">
                    <h3 class="footer-heading">ABOUT US</h3>
                    <p>We are a team of passionate travel enthusiasts dedicated to helping you discover the beauty and culture of Vietnam. Our mission is to provide you with personalized travel experiences that are both authentic and unforgettable. <br/>We are committed to providing exceptional customer service and making your trip to Vietnam truly memorable. Thank you!</p>
                    <ul class="social-links list-inline list-unstyled">
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-facebook"></i></span></a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-twitter"></i></span></a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-google-plus"></i></span></a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-pinterest-p"></i></span></a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-instagram"></i></span></a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-linkedin"></i></span></a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#"><span><i class="fa fa-youtube-play"></i></span></a></li>
                    </ul>
                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->

    <div id="footer-bottom" class="ftr-bot-black">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="copyright">
                    <p>© 2017 <a href="~/customerassets/#">StarTravel</a>. All rights reserved.</p>
                </div><!-- end columns -->

                <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="terms">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="~/customerassets/#">Terms & Condition</a></li>
                        <li class="list-inline-item"><a href="~/customerassets/#">Privacy Policy</a></li>
                    </ul>
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-bottom -->

</section>