<div id="top-bar" class="tb-text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="info">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><span><i class="fa fa-map-marker"></i></span>1017 Le Van Luong, Phuoc Kien, Nha Be, HCM</li>
                        <li class="list-inline-item"><span><i class="fa fa-phone"></i></span>0973083079</li>
                    </ul>
                </div><!-- end info -->
            </div><!-- end columns -->
            <div class="col-12 col-md-6">
                <div id="links">
                    <ul class="list-unstyled list-inline">
                       
                            <li class="list-inline-item"><a href="/my-account.html"><span><i class="fa fa-user"></i></span>My Account</a></li>
                        
                        
                            <li class="list-inline-item"><a href="/log-in.html"><span><i class="fa fa-lock"></i></span>Login</a></li>
                            <li class="list-inline-item"><a href="/register.html"><span><i class="fa fa-plus"></i></span>Register</a></li>
                        

                    </ul>
                </div><!-- end links -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end top-bar -->

<nav class="navbar navbar-expand-xl sticky-top navbar-custom main-navbar p-1" id="mynavbar-1">
    <div class="container">

        <a href="~/customerassets/#" class="navbar-brand py-1 m-0"><span><i class="fa fa-plane"></i>STAR</span>TRAVELS</a>

        <div class="collapse navbar-collapse" id="myNavbar1">
            <ul class="navbar-nav ml-auto navbar-search-link">
                <li class="nav-item dropdown active">
                    <a href="~/customerassets/#" class="nav-link dropdown-item" id="navbarDropdown" role="button" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">|   Home   |<span></a>
         
                </li>
                <li class="nav-item dropdown">
                    <a href="~/customerassets/#" class="nav-link" data-toggle="dropdown">Flight<span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
             
                        <li><a class="dropdown-item" href="flight.html">List Of Flight</a></li>
                       
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="~/customerassets/#" class="nav-link" data-toggle="dropdown">Hotel<span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
                 
                        <li><a class="dropdown-item" href="hotel.html">List Of Hotel</a></li>
                      
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="~/customerassets/#" class="nav-link" data-toggle="dropdown">Tour<span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
      
                        <li><a class="dropdown-item" href="tour.html">List Of Tour</a></li>
                 
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a href="~/customerassets/#" class="nav-link" data-toggle="dropdown">Transport<span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
 
                        <li><a class="dropdown-item" href="transport.html">List Of Transport</a></li>
                        
                    </ul>
                </li>
             
                <li class="nav-item dropdown">
                    <a  class="nav-link" data-toggle="dropdown">Blogs<span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">

                        <li class="dropdown">
                            <a class="dropdown-item" asp-controller="Blog" asp-action="Index">Travel Blogs</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item" asp-controller="Home" asp-action="Gallery">Travel Gallery</a>
                        </li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                    <a href="~/customerassets/#" class="nav-link" data-toggle="dropdown">Pages<span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                            <a class="dropdown-item" href="/before-you-fly">About You Fly</a>
                        </li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
  
                    </ul>
                </li>
                
                <li class=" ">

                </li>
            </ul>
        </div><!-- end navbar collapse -->
    </div><!-- End container -->
</nav>