
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--============== PAGE-COVER ==============-->
<section class="page-cover" id="cover-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Gallery Masonry</h1>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">Gallery Masonry</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="gallery-page" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="page-heading">
                        <h2>Picture Gallery</h2>
                        <hr class="heading-line" />
                    </div><!-- end page-heading -->

                    <div id="masonry" class="gaalery-padding masonary-padding">

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-1.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-1.jpg" title="image-1" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-2.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-2.jpg" title="image-2" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-3.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-3.jpg" title="image-3" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-4.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-4.jpg" title="image-4" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-5.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-5.jpg" title="image-5" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-6.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-6.jpg" title="image-6" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-7.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-7.jpg" title="image-7" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                        <div class="gallery-product">
                            <div class="gallery-block">
                                <div class="gallery-img ">
                                    <img src="~/customerassets/images/mas-gallery-8.jpg" class="img-fluid" alt="gallery-img">
                                    <div class="gallery-mask">
                                        <div class="gallery-title">
                                            <h2>Image Title</h2>
                                            <p>2 Pictures</p>
                                        </div><!-- end gallery-title -->
                                        <a href="images/mas-gallery-8.jpg" title="image-8" class="with-caption image-link"><span><i class="fa fa-arrows-v"></i></span></a>
                                    </div><!-- end gallery-mask -->
                                </div><!-- end gallery-img -->
                            </div><!-- end gallery-block -->
                        </div><!-- end gallery-product -->

                    </div><!-- end masonry -->

                    <div class="butn text-center">
                        <a href="#" class="btn btn-padding btn-orange">Load More</a>
                    </div><!-- end butn -->
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end gallery-page -->
</section><!-- end innerpage-wrapper -->
<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-dollar"></i></span>
                    <h3>Best Price Guarantee</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->

            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-lock"></i></span>
                    <h3>Safe and Secure</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->

            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-thumbs-up"></i></span>
                    <h3>Best Travel Agents</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->

            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-bars"></i></span>
                    <h3>Travel Guidelines</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end best-features -->
<!--========================= NEWSLETTER-1 ==========================-->
<section id="newsletter-1" class="section-padding back-size newsletter">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h2>Subscribe Our Newsletter</h2>
                <p>Subscibe to receive our interesting updates</p>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control input-lg" placeholder="Enter your email address" required />
                            <span class="input-group-btn"><button class="btn btn-lg"><i class="fa fa-envelope"></i></button></span>
                        </div>
                    </div>
                </form>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end newsletter-1 -->
