<div class="dlabnav">
	<div class="dlabnav-scroll">

		<ul class="metismenu" id="menu">

			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-025-dashboard"></i>
					<span class="nav-text">Dashboard</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard Light</a></li>
					<li><a >Dashboard Dark</a></li>
					<li><a href="~/adminassets/reviews.html">Reviews</a></li>
				</ul>

			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-051-info"></i>
					<span class="nav-text">System</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboAccounts" asp-action="Index">Admin Management</a></li>
					<li><a href="~/adminassets/post-details.html">Client Management</a></li>
					<li>
						<a class="has-arrow" href="~/adminassets/javascript:void()" aria-expanded="false">Email</a>
						<ul aria-expanded="false">
							<li><a href="~/adminassets/email-compose.html">Compose</a></li>
							<li><a href="~/adminassets/email-inbox.html">Inbox</a></li>
							<li><a href="~/adminassets/email-read.html">Read</a></li>
						</ul>
					</li>
					<li><a asp-area="Admin" asp-controller="AdminDboRoles" asp-action="Index">Role Management</a></li>
					<li>
						<a class="has-arrow" href="~/adminassets/javascript:void()" aria-expanded="false">Shop</a>
						<ul aria-expanded="false">
							<li><a href="~/adminassets/ecom-product-grid.html">Product Grid</a></li>
							<li><a href="~/adminassets/ecom-product-list.html">Product List</a></li>
							<li><a href="~/adminassets/ecom-product-detail.html">Product Details</a></li>
							<li><a href="~/adminassets/ecom-product-order.html">Order</a></li>
							<li><a href="~/adminassets/ecom-checkout.html">Checkout</a></li>
							<li><a href="~/adminassets/ecom-invoice.html">Invoice</a></li>
							<li><a href="~/adminassets/ecom-customers.html">Customers</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-381-notepad-2"></i>
					<span class="nav-text">Client Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboCustomers" asp-action="Index">Client List</a></li>
					<li><a href="~/adminassets/chart-morris.html">Client Check</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-381-star"></i>
					<span class="nav-text">Sales Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="~/adminassets/ui-accordion.html">Accordion</a></li>
					<li><a href="~/adminassets/ui-alert.html">Alert</a></li>
					<li><a href="~/adminassets/ui-badge.html">Badge</a></li>
					<li><a href="~/adminassets/ui-button.html">Button</a></li>
					<li><a href="~/adminassets/ui-modal.html">Modal</a></li>
					<li><a href="~/adminassets/ui-button-group.html">Button Group</a></li>
					<li><a href="~/adminassets/ui-list-group.html">List Group</a></li>
					<li><a href="~/adminassets/ui-card.html">Cards</a></li>
					<li><a href="~/adminassets/ui-carousel.html">Carousel</a></li>
					<li><a href="~/adminassets/ui-dropdown.html">Dropdown</a></li>
					<li><a href="~/adminassets/ui-popover.html">Popover</a></li>
					<li><a href="~/adminassets/ui-progressbar.html">Progressbar</a></li>
					<li><a href="~/adminassets/ui-tab.html">Tab</a></li>
					<li><a href="~/adminassets/ui-typography.html">Typography</a></li>
					<li><a href="~/adminassets/ui-pagination.html">Pagination</a></li>
					<li><a href="~/adminassets/ui-grid.html">Grid</a></li>

				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-045-heart"></i>
					<span class="nav-text">Order Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="~/adminassets/uc-select2.html">Select 2</a></li>
					<li><a href="~/adminassets/uc-nestable.html">Nestedable</a></li>
					<li><a href="~/adminassets/uc-noui-slider.html">Noui Slider</a></li>
					<li><a href="~/adminassets/uc-sweetalert.html">Sweet Alert</a></li>
					<li><a href="~/adminassets/uc-toastr.html">Toastr</a></li>
					<li><a href="~/adminassets/map-jqvmap.html">Jqv Map</a></li>
					<li><a href="~/adminassets/uc-lightgallery.html">Light Gallery</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" class="" aria-expanded="false">
					<i class="flaticon-381-location-3"></i>
					<span class="nav-text">Flight Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboFlights" asp-action="Index">Flight List</a></li>
					<li><a href="~/adminassets/table-datatable-basic.html">Datatable</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" class="" aria-expanded="false">
					<i class="flaticon-381-picture"></i>
					<span class="nav-text"> Tour Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboTours" asp-action="Index">Tour List</a></li>
					<li><a href="~/adminassets/table-datatable-basic.html">Datatable</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-381-home-1"></i>
					<span class="nav-text">Hotel Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboHotels" asp-action="Index">Hotel List</a></li>
					<li><a href="~/adminassets/form-wizard.html">Wizard</a></li>
					<li><a href="~/adminassets/form-ckeditor.html">CkEditor</a></li>
					<li><a href="~/adminassets/form-pickers.html">Pickers</a></li>
					<li><a href="~/adminassets/form-validation.html">Form Validate</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-381-sunglasses"></i>
					<span class="nav-text">Cruise Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboCruises" asp-action="Index">Cruise List</a></li>
					<li><a href="~/adminassets/table-datatable-basic.html">Datatable</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" aria-expanded="false">
					<i class="flaticon-022-copy"></i>
					<span class="nav-text">Traffic Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboTransports" asp-action="Index">Transport List</a></li>
					<li><a href="~/adminassets/page-register.html">Register</a></li>
					<li>
						<a class="has-arrow" href="~/adminassets/javascript:void()" aria-expanded="false">Error</a>
						<ul aria-expanded="false">
							<li><a href="~/adminassets/page-error-400.html">Error 400</a></li>
							<li><a href="~/adminassets/page-error-403.html">Error 403</a></li>
							<li><a href="~/adminassets/page-error-404.html">Error 404</a></li>
							<li><a href="~/adminassets/page-error-500.html">Error 500</a></li>
							<li><a href="~/adminassets/page-error-503.html">Error 503</a></li>
						</ul>
					</li>
					<li><a href="~/adminassets/page-lock-screen.html">Lock Screen</a></li>
					<li><a href="~/adminassets/empty-page.html">Empty Page</a></li>
				</ul>
			</li>
			<li>
				<a class="has-arrow " href="~/adminassets/javascript:void()" class="" aria-expanded="false">
					<i class="flaticon-381-layer"></i>
					<span class="nav-text">Pages Management</span>
				</a>
				<ul aria-expanded="false">
					<li><a asp-area="Admin" asp-controller="AdminDboPages" asp-action="Index">Page List</a></li>
					<li><a asp-area="Admin" asp-controller="AdminDboNews" asp-action="Index">News List</a></li>
				</ul>
			</li>
		</ul>
		<div class="dropdown header-profile2 ">
			<div class="header-info2 text-center">
				<img src="~/adminassets/images/profile/pic1.jpg" alt="" />
				<div class="sidebar-info">
					<div>
						<h5 class="font-w500 mb-0">William Johanson</h5>
						<span class="fs-12">williamjohn@mail.com</span>
					</div>
				</div>
				<div>
					<a href="~/adminassets/javascript:void(0);" class="btn btn-md text-secondary">Contact Us</a>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p class="text-center"><strong>Travl Hotel Admin Dashboard</strong> © 2021 All Rights Reserved</p>
			<p class="fs-12 text-center">Made with <span class="heart"></span> by DexignLab</p>
		</div>
	</div>
</div>